.root {
    -fx-border-style: hidden;
    -fx-border-width: 0;
    -fx-background-color: rgba(0, 0, 0, 0.0);
    -fx-background-radius: 20;
}

.button{
    -fx-background-color: rgba(0, 0, 0, 0.0);
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 15 15 15 15;
}

.button:hover{
    -fx-background-color: rgb(200, 200, 200);

}
.button:pressed{
    -fx-background-color: rgb(170, 170, 170);
}